Vamo & Vamo

<a class='dropdown-button material-icons right' href='#' data-activates='dropdown'>more_vert</a>

<ul id='dropdown' class='dropdown-content'>
	<li>
		<a href="#" data-js="share">Compartir</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="#" data-js="reset">Borrar</a>
	</li>
</ul>