<label for="personNumber">Personas:</label><input type="number" value="2" min="0" max="99" id="personNumber" class="person-number" pattern="[0-9]{10}">
<input type="button" value="+" class="add">
<input type="button" value="-" class="remove">